:root {
  --size: min(8vh, 9vw);
  --min-size: 30px;
  --max-size: 65px;
}

#screen #game-container {
  position: absolute;
  top: var(--topNav-size);
  left: 0;
  width: 100%;
  height: max-content;
  place-items: center;
  transform: translate(100%);
  transition: transform 0.3s ease-in-out;
  display: grid;
  grid-template-columns: 15% 75%;
  grid-row-gap: 10px;

  #info { /* R1C1 */
    display: grid;
    grid-row-gap: 20px;
    place-items: center;

    i {cursor: pointer;}
    color: var(--blue);
    font-size: var(--font-size);
  }
  #board { /* R1C2 */
    /* width: 100%; */
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    
    button.index {
      width: var(--size);
      min-width: var(--min-size);
      max-width: var(--max-size);
      min-height: var(--min-size);
      max-height: var(--max-size);
      aspect-ratio: 1/1; /* width:height */
      border: 2px solid var(--bg-main);
      background-color: var(--bg-main);
      border-radius: 50%;
      
      display: grid;
      grid-template-columns: repeat(3,1fr);
      place-items: center;
      span {
        font-size: var(--font-size-xs);
        color: var(--txt-color);
      }
    }
    button.index>span:only-child {
      font-size: var(--font-size);
      grid-column-start: 2;
    }
    button.index:hover {border-color: var(--blue);}
    button.index[focus] {
      background-color: var(--blue);
      border-color: var(--blue);
      span {color: var(--fill-text);}
    }
    button.index[flip] {animation: flipX 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
    button.index[wrong] {border-color: var(--red); animation: shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
    button.index[success] {
      background-color: var(--green); 
      border-color: var(--green);
      animation: flipY 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      span {color: var(--fill-text);}
    }
    
  }
  #condition-bar { /* R2 */
    grid-column-start: 2;
    grid-column-end: 3;
    width: 95%;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center;
    button {
      height: 100%;
      place-items: center;
      font-size: var(--font-size);
      color: var(--txt-color);
      border: 2px solid var(--bg-main);
      border-radius: 10px;
      background-color: transparent;
      cursor: pointer;
    }
    button#last-cond {box-shadow: 20px 0px 30px var(--shadow);}
    button#next-cond {box-shadow: -20px 0px 30px var(--shadow);}
    button#last-cond:hover,button#next-cond:hover {border-color: var(--blue);}

    ul#condition {
      overflow: hidden;
      width: 97%;
      position: relative;
      li.cond {
        width: max-content;
        position: absolute;
        top:0;
        left: 50%;
        transform: translate(-50%);
        background-color: var(--shadow);
        border-radius: 10px;
        padding: 0 10px 5px 10px;
        grid-row-gap: 5px;
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.2s;

        display: grid;
        place-items: center;
        #cond-text {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--txt-color);
          font-size: var(--font-size);
        }
        #cond-board {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 2px;
          grid-row-gap: 2px;

          span {
            width: var(--size);
            min-width: var(--min-size);
            max-width: var(--max-size);
            min-height: var(--min-size);
            max-height: var(--max-size);
            aspect-ratio: 1/1;
            border: 0px;
            background-color: var(--bg-main);
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--txt-color);
            font-size: var(--font-size);
          }
          span[none] {opacity: 0;}
        }
      }
      li.cond[keep] {position: relative;}
      li.cond[now] { opacity: 1;}
      li.cond[last] {transform: translate(-300%);}
      li.cond[next] {transform: translate(300%);}
    }
  }
  #operation-bar { /* R3C1 */
    display: grid;
    grid-row-gap: 10px;
    
  }
  button.oper {
    width: var(--size);
    aspect-ratio: 1/1;
    min-width: var(--min-size);
    max-width: var(--max-size);
    min-height: var(--min-size);
    max-height: var(--max-size);
    border: 2px solid var(--bg-main);
    background-color: var(--bg-main);
    border-radius: 10px;
    color: var(--txt-color);
    font-size: var(--font-size);
  }
  button.oper:hover {border-color: var(--blue);}
  #number-bar { /* R3C2 */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    button.number {
      width: var(--size);
      aspect-ratio: 1/1;
      min-width: var(--min-size);
      max-width: var(--max-size);
      min-height: var(--min-size);
      max-height: var(--max-size);
      border: 2px solid var(--bg-main);
      background-color: var(--bg-main);
      border-radius: 10px;
      color: var(--txt-color);
      font-size: var(--font-size);
    }
    button.number:hover{border-color: var(--blue);}
  }
}
#screen #game-container[active] {transform: translate(0);}




/* animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flipY {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes flipX {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}