:root {
  --bg-main:#f6f4f8;
  --bg-color:#ffffff;
  --txt-color: #282848;
  --fill-text: #000;
  --shadow: rgba(0, 0, 0, 0.2);

  --white: #fff;
  --blue: #00aeef;
  --red: #e91e63;
  --black: #000;
  --green: #6eff73;

  --font-size-xs: 0.8rem;
  --font-size-s: 1rem;
  --font-size: 1.5rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;

  --topNav-size: 40px;
  --min-width: 300px;
}
.dark {
  --bg-main: #2a2a38;
  --bg-color: #1a1a2e;
  --txt-color: #8a8a8a;
  --fill-text: #fff;
  --shadow: rgba(255, 255, 255, 0.1);
  --green: #46ba4a;
}
@media only screen and (max-width: 450px) {
  :root {
    --font-size-xs: 0.6rem;
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "LXGW WenKai TC", cursive;
  background-color: var(--bg-color);
  user-select: none;
}

nav {
  background-color: var(--bg-color);
  color: var(--txt-color);
  position: fixed;
  
  top: 0;
  width: 100%;
  min-width: var(--min-width);
  box-sizing: 5px 2px var(--bg-main);
  z-index: 99;
}

#top-nav #nav-container {
  max-width: 512px;
  height: var(--topNav-size);
  margin: auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #logo {
    text-decoration: none;
    color: var(--blue);
    font-size: var(--font-size-l);
  }

  #theme-toggle {
    color: var(--blue);
    cursor: pointer;
    padding: 0 10px;

    .fa-solid {font-size: var(--font-size-l);}
    span[light] {  
      .fa-sun  {display: none;}
      .fa-moon {display: inline-block;}
    }
    span[dark] {
      .fa-sun {display: inline-block;}
      .fa-moon {display: none;}
    }
  }
}
