#master {
  display: none;

  #rule {
    place-items: center;
    display: grid;
    grid-row-gap: 30px;
    /* h6 {display: none;} */

    ul#condition {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      place-items: center;
      grid-row-gap: 5px;
      grid-column-gap: 5px;
      padding-bottom: 20px;
  
      li.cond {
        width: max-content;
        background-color: var(--shadow);
        border-radius: 10px;
        padding: 0 10px 5px 10px;
        display: grid;
        place-items: center;
        grid-row-gap: 5px;
  
        #cond-text {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--txt-color);
          font-size: var(--font-size);
        }
  
        #cond-board {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 2px;
          grid-row-gap: 2px;

          span {
            width: var(--size);
            min-width: var(--min-size);
            max-width: var(--max-size);
            min-height: var(--min-size);
            max-height: var(--max-size);
            aspect-ratio: 1/1;
            border: 0px;
            background-color: var(--bg-main);
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--txt-color);
            font-size: var(--font-size);
          }
          span[none] {opacity: 0;}
        }
      }
    }
  }
}